In [94]:
import numpy as np
import pandas as pd
import os

In [95]:
BASE_PATH    = 'Datasets/'
DATA_PATH    = f'{BASE_PATH}/SCRIP/'
INDEX_PATH   = f'{BASE_PATH}/INDEX/'
TICKERS_PATH = f'{BASE_PATH}NSE Symbols.CSV'

## 1 - data collection

In [96]:
# !python3 downloader.py --tickers TICKERS_PATH --start 2019-01-01 --end 2020-01-01

### read tickers

In [97]:
tickers = pd.read_csv(TICKERS_PATH)
tickers

           Scrip                              Company Name
0      20MICRONS                        20 Microns Limited
1     21STCENMGM  21st Century Management Services Limited
2     3IINFOTECH                       3i Infotech Limited
3        3MINDIA                          3M India Limited
4         3PLAND                  3P Land Holdings Limited
...          ...                                       ...
1674   ZODJRDMKJ                   Zodiac JRD- MKJ Limited
1675        ZOTA                  Zota Health Care LImited
1676       ZUARI              Zuari Agro Chemicals Limited
1677   ZUARIGLOB                      Zuari Global Limited
1678   ZYDUSWELL                    Zydus Wellness Limited

[1679 rows x 2 columns]

### filter by date

In [98]:
entries_info = pd.DataFrame(data=[], columns=['ticker', 'entries'])

for index, (ticker, name) in tickers.iterrows():
    try:
        data = pd.read_csv(f'{DATA_PATH}{ticker}.csv')
        data = data.loc[data['Date'].str.startswith('2019')]
        if len(data) != 0:
            data.to_csv(f'{DATA_PATH}{ticker}.csv')
        else:
            os.remove(f'{DATA_PATH}{ticker}.csv')
        entries_info = entries_info.append({'ticker': ticker,
                                            'entries': len(data)}, 
                                            ignore_index=True)
    except:
        pass
    
entries_info = entries_info.sort_values(by='entries', ascending=False)
entries_info

          ticker entries
350          DVL     300
0      20MICRONS     245
893      NECLIFE     245
903          NFL     245
901       NEWGEN     245
...          ...     ...
193   BIOFILCHEM      12
17     ABMINTLTD      12
1444         WSI       5
553   HOTELRUGBY       3
1029  PRINCEPIPE       2

[1462 rows x 2 columns]